* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./colors.styl";

body {
  font-family: "Titillium Web", sans-serif;
  background-color: $bg;
  color: $bg-text;
}

h1, h2, h3 {
  font-weight: 100;
}

h2 {
  font-size: 4rem;
  text-align: center;
  color: $lightblue;

  margin: 2.5rem 0;
}

p
  max-width: 60ch

.container
  padding: 0 0.5rem;

.image-display
  margin: 0 0.5rem;
  text-align: center;

  picture
    display: block;
    max-width: 100%;

  .image-bar > picture + picture
    margin-top: 0.5rem;

  .display-text
    margin: 1rem auto 2rem;
    font-size: 1.2rem;

.bg-box
  background: linear-gradient(to bottom, hsl(205,68,29), hsl(205,54, 9));
  border: 2px solid white;
  border-radius: 0.5rem;

  padding: 1rem 0.5rem;

.feature-box
  display: flex;
  flex-direction: column;
  align-items: center;

.feature-header
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem 0;

@import "./layout/hero.styl"
@import "./layout/nav.styl"